body {
  overflow-x: hidden;
  background-image: url("skyrim_wallpaper.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-bgcolor
{
	background-color: white;
}


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  max-height: 200vh;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
	position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  		position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  	position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.im-centered{margin: auto; max-width: 300px;}

